.cartegory{
    padding: 100px 100px 30px 100px;
    
}
.cartegory_top{
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.26);
}
.cartegory_top p{
    
    margin: 0 12px;
    font-size: 12px;
    align-content: center;
}
.cartegory_left{
    width: 20%;
}
.cartegory_left ul li{
    padding: 12px 0;
}
.cartegory_left ul li>a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.cartegory_left ul li ul li{
    padding-left: 15px;
}
.cartegory_right{
    width: 80%;
}
.cartegory_right_top_item:first-child{
    flex: 2;
    font-size: 16px;
    font-weight: bold;
}
.cartegory_right_top_item > p{
    
    font-size: 20px;
    
}
.cartegory_right_top_item{
    flex: 1;
    padding: 0 12px;
}
.cartegory_right_top_item button{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #bdb9b9;
    cursor: pointer;
}
.cartegory_right_top_item select{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #bdb9b9;
    cursor: pointer;
}
.cartegory_right_content{
    margin-top: 20px;
    justify-content: space-between;

}

.cartegory_right_content_item img{
    width: 100%;
    height: 270px;
}
.cartegory_right_content_item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory_right_content_item h1{
    font-size: 16px;
    margin-top: 6px;
    color: #333333;
}
.cartegory_right_content_item p{
    font-size: 14px;
}
.cartegory_right_bottom{
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}
.cartegory_right_bottom p{
    font-size: 12px;
}
