.footer{
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5)),url("/public/frontend/images/footer_image_banner.png") no-repeat center center/cover;
    
}

.footer_top{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 70px;
    font-weight: bold;
}
.footer_top img{
    height: 40px;
}
.footer_top li{
    padding: 0 12px;
    position: relative; 
}
.footer_top a{
    color: white;

}
.footer_bottom{
    
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
}