header{
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
    height: 70px;
    align-items: center;
    background-color: rgb(255, 255, 255);

    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo{
    flex: 1;
    padding-top: 3px;
}
.logo img{
    width: 60%;
   
}
.menu{
    flex: 2.5;
    display: flex;
    justify-content: space-around;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover{
    background-color:#5cbbb6c9;
    border-radius: 12px;
}
.menu >li:hover >a{
    color: white;
}
.menu > li:hover .sub_menu{
    visibility: visible;
    
   
}
.sub_menu{
    position: absolute;
    width: 170px;
    border: 1px solid;
    padding: 10px 0 20px 20px;
    visibility: hidden;
    background-color: rgb(206, 184, 161);
    transition: 0.3s;
    left: -10px;
}

.sub_menu li a{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}
.menu > li > a{
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 50px;
}

.others{
    flex: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.others > li{
    padding: 0 20px;
}
.others > li:first-child{
    position: relative;
    flex-grow: 1;
}
.others > li:first-child input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 8px;
    
}
.others > li:first-child img{
    position: absolute;
    right: 15px;
    
}
.others > li img{
    
    width: 40px;
    height: 40px;
}