.product{
    padding: 100px 100px;

}
.product_top{
    margin-bottom: 30px;
    background-color: #3f3d3d69;
}
.product_top p{
    margin: 0 12px;
    font-size: 12px;
    align-content: center;
    
}
.product_content_left{
    width: 50%;
}
.product_content_left_big_img {
    width: 80%;
    padding-right: 20px;
}
.product_content_left_big_img img{
    width: 100%;
    height: 100%;
}
.product_content_left_small_img{
    width: 20%;
}
.product_content_left_small_img img{
    width: 100%;
}

.product_content_right{
    width: 50%;
    padding-left: 20px ;
}
.product_content_right_product_name h1{
    font-size: 16px;
}
.product_content_right_product_name p{
    color: #3f3d3d;
    font-size: 12px;
}
.product_content_right_product_price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product_content_right_product_button button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}
.product_content_right_product_button:hover button{
    background-color: #3f3d3d;
    color: white;
}
.product_content_right_product_button img{
    width: 20px;
    height: 20px;
}